body{
    font-family: "Montserrat", "san-serif"!important;
    color: rgb(74, 74, 74); 
}
/****************************************************************************** main ***************************************************************************/
.main img{
    border-radius:5%;
    position: relative;
    top:15%;
}

.main  .main-header{
    font-weight: bold;
    max-width:500px;
}
.main  .content-container{
    padding:10% 4%;
}
.main  .content-container  h1{
    margin-bottom: 4%;
    color: #000;
}
.main .content-container .three-icons{
    display: flex;
    flex-direction: row;
    border-bottom: 1px rgb(74, 74, 74) solid;
    padding-bottom:4%;
    padding-top:2%;
    /* padding-left: 7%; */
    text-align: center;
}
.main .content-container .three-icons .b{
    border-right: 1px rgb(74, 74, 74) solid;
    border-left: 1px rgb(74, 74, 74) solid;
    width:45%;
}
.main .content-container .three-icons h6{
    color:black;
}
.main .content-container .last-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:5%;
}
.main .content-container .last-row a{
    color: #eb4a36;
}
.main .content-container .last-row .icons a{
    margin-left:5px;   
}


/****************************************************************************** content-1 ***************************************************************************/
/***********************************articles**************************/
/*steps*/
.content-1 .articles{
     padding-left:4.5%; 
}
.content-1 .art-header  ,
.aside-header{
    color:#000;
    font-weight: bold;
    margin-bottom: 40px;
}
.content-1 .articles .step-cont{
   display: flex;
   margin-top: 15px;
}
.content-1 .articles .step-cont .step-body{
    padding-left:15px;
}
.content-1 .articles .step-cont .step-body .head{
    display: flex;
}

.content-1 .articles .step-cont .step-body span{
    display: inline-block;
    color: #eb4a36;
    font-weight: 500;
    margin-right: 15px;
}
.content-1 .articles .step-cont .step-body hr{
    width:90%;
    display: inline-block;
    margin-bottom: 15px;
}
.content-1 .articles .step-cont .step-body p{
    margin-top: 20px;
}
.content-1 .articles .head-2{
    margin-top: 30px;
    margin-bottom: 20px;
    color:#000;
    font-weight: bold;
}

/*comments*/
.content-1 .articles .waman-div ,
.man-div{
    text-align: left;
    border-radius: 5px;
}
.man-div{
    background-color:#f9f5f4; 
    margin-right: 0%;
}
.comments .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}
.comments .header .static{
    display: flex;
}
.comments .header  .static img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 25px;
}
.comments .header  .dynamic{
    margin-top: 25px;
    margin-right:  15px;
} 

/*spcial comments*/
.special-comments{
    padding-left:15%;
}
.comments .special-comments .man-div,
.waman-div{
    padding: 4% 6%;
}
/*********************************** aside **************************/
.content-1 .aside{
    padding-left:4.5%;
    padding-right:5%;
}
.aside li{
    padding-left: 0%;
    padding-bottom:15px;
    margin-bottom:15px;
}
.tags-header ,
.icons-header{
    color:#000;
    font-weight: bold;
    margin-top:60px;
    margin-bottom: 30px;
}
.tags-container{
    display: flex;
    flex-wrap: wrap;

}
.tags-container div{
    background-color:#f9f5f4; 
    margin:4px;
    padding:6px 12px;
    border-radius: 5%;
    color: rgb(74, 74, 74); 
}


/****************************************************************************** content-2 ***************************************************************************/
.content-2{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#f9f5f4;
}
.content-2 .content-row{
    background-color:#f9f5f4; 
}
.content-2 .content-row .galary{
    max-width: 1350px;
    margin-left: auto;
    margin-right:auto;
    background-color:#f9f5f4;
}
.content-2 .content-row .galary h4{
    font-weight: bold;
    color: #000;
}
.galary .pic .card-body{
    background-color:#f9f5f4; 
}
.galary .pic .card-title{
    color: #000;
    font-size:14px;
    font-weight: bold;
    margin-top: 11px;
}
.galary .pic-row a{
    text-decoration: none;
}
.pic .card-text{
    display:flex;
    justify-content: space-between;
    font-size: 13px;
}

/******************************************************************************** footer ******************************************************************************/ 
.footer .f-row .logo{
    text-decoration: none;
    font-family:'Leckerli One','cursive' !important;
    color:#eb4a36;
    font-size: 25px;
}
.footer .f-row{
gap:55%;
}
.footer .f-row .contact-icons{
    width: 175px;
    text-align:left;
}
a{
    text-decoration: none; 
}
.footer .s-row  a{
    color: #000;
}
.footer .s-row  a:hover{
    color:gray;
}